In [12]:
import pandas as pd
import pymongo

## Loading Data

In [20]:
import pandas as pd
import pymongo

client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

cursor = coll.find()
df_devs = pd.DataFrame(list(cursor))
df_devs

                        _id devId    name  age        country
0  6205635477d1b0ab122704ae     1  Thomas   36        Germany
1  6205635477d1b0ab122704af     2  Lothar   48        Germany
2  6205635477d1b0ab122704b0     3  Andrew   21  United States
3  6205635477d1b0ab122704b1     4    John   44       Scotland

## Counting Devs

In [26]:
import pymongo

client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

query = {}

num_devs = coll.count_documents(query)
print(f"Number Devs: {num_devs}")

Number Devs: 4

## Counting Devs from Germany

In [22]:
client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

query = {}
query["country"] = "Germany"

num_devs = coll.count_documents(query)
print(f"Number Devs from Germany: {num_devs}")

Number Devs from Germany: 2

## Counting Devs older than 40

In [24]:
client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

query = {}
query["age"] = {"$gte": 40}

num_devs = coll.count_documents(query)
print(f"Number Devs older than 40: {num_devs}")

Number Devs older than 40: 2

## Counting Devs from Germany and older than 40

In [25]:
client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

query = {}
query["country"] = "Germany"
query["age"] = {"$gte": 40}

num_devs = coll.count_documents(query)
print(f"Number Devs from Germany and older than 40: {num_devs}")

Number Devs from Germany and older than 40: 1