In [1]:
import pandas as pd
import pymongo

## Loading Data

In [2]:
import pandas as pd
import pymongo

client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

cursor = coll.find()
df_devs = pd.DataFrame(list(cursor))
df_devs

                        _id        country
0  62388831359fa46a58f3ae65        Germany
1  6238884d359fa46a58f3ae66        Germany
2  6238886b359fa46a58f3ae67  United States
3  62388874359fa46a58f3ae68       Scotland

## Distinct Values of the field "country"

In [3]:
import pymongo

client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

query = {}

country_values = coll.distinct("country")
print(f"Countries: {country_values}")

Countries: ['Germany', 'Scotland', 'United States']