In [1]:
import pandas as pd
import pymongo

## Loading Data

In [2]:
import pandas as pd
import pymongo

client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

cursor = coll.find()
df_devs = pd.DataFrame(list(cursor))
df_devs

Empty DataFrame
Columns: []
Index: []

## Loading Data with Projection

In [5]:
client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

projection = {}
projection["_id"] = 0
projection["name"] = 1

cursor = coll.find(projection=projection)
df_devs_name = pd.DataFrame(list(cursor))
df_devs_name

     name
0  Thomas
1  Lothar
2  Andrew
3    John

## Loading Data with Query

In [6]:
client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

query = {}
query["country"] = "Germany"

cursor = coll.find(query)
df_devs_ger = pd.DataFrame(list(cursor))
df_devs_ger

                        _id devId    name age  country
0  6205635477d1b0ab122704ae     1  Thomas  36  Germany
1  6205635477d1b0ab122704af     2  Lothar  48  Germany

## Loading Data with Query and Projection

In [7]:
client = pymongo.MongoClient("localhost", 27017)
db = client["testdb"]
coll = db["developers"]

query = {}
query["country"] = "Germany"

projection = {}
projection["_id"] = 0
projection["name"] = 1

cursor = coll.find(query, projection=projection)
df_devs_ger_name = pd.DataFrame(list(cursor))
df_devs_ger_name

     name
0  Thomas
1  Lothar